<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 offset-md-2 offset-lg-3">
    <div class="card">
      <div class="card-header">
        Error
      </div>
      <div class="card-block">
        <div class="card-title">
          404
        </div>
        <div class="card-text">
          <p>You are trying to access something that doesn't exist!</p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="back()">Go back</button>
      </div>
    </div>
  </div>
</div>
